/* Parte Superior */
*{
    box-sizing: border-box;
}

.container {
    background-color: #151515;
    color: #ffff;
}

/* Formulário */

main{
    grid-area: hot; 
    place-self: center;
    margin: 10px;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        
}

form {    
	margin: 40px 0;
}

form label, form legend {
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
}


.contact .input-padrao{
	display: block;
	margin: 0 0 1rem;
	padding: 10px 25px;
	width: 100%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width:40%;
	padding: 15px 0;
	background: rgb(183, 0, 255);
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 0.4s all;
	cursor: pointer;
}

.enviar:hover {
	background: rgb(204, 6, 6);
	transform: scale(1.05);
}

table {
	margin: 20px 0 40px;
}

thead {
	background: #faf7f7;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #ffffff;
	padding: 8px 15px;
}


